
<head> 
      <!--link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"-->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
     </head>
<h1>
<i class="fa fa-utensils"></i>
  Menu Planner 
</h1>

<body>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-6">
            <p-calendar styleClass="mainCalendar" styleClass="mainCalendar" [style]="{'width': '100%'}" [inputStyle] = "{'width':'85px'}"  [(ngModel)]="dateSelection" [inline]="true">
            </p-calendar>
        </div>
        <div class="ui-g-10 ui-md-4 ui-lg-4">
            <div id="dateSelected">
                <p-card id="printSectionId">
                    <p>{{displayFormattedDate(dateSelection)}}</p>

                    <p>Breakfast: {{breakfast}}</p>
                    <p>Lunch: {{lunch}}</p>
                    <p>Dinner: {{dinner}}</p>
                    <p-footer>
                        <button pButton type="button" label="Print" icon="fa fa-print" class="ui-button-secondary" (click)="onPrint()">
                        </button>

                        <button pButton type="button" label="Edit Menu" icon="fa fa-edit" class="ui-button-primary" (click)="onEdit()">
                        </button>
                    </p-footer>
                </p-card>

            </div>
        </div>
    </div>


<p-accordion *ngIf="isEditVisible">
    <p-accordionTab header="Breakfast">
       <p-panel>
            <p-header>
                <div class="ui-helper-clearfix">
                    <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Breakfast Details</span>
                </div>
            </p-header>
            
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <input type="text" pInputText [(ngModel)]="food"/>
                        <button id="disabled-btn" type="button" (click)="addFood()" icon="fa fa-plus" pButton label="Add"></button>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <p-dataTable [value]="foodItems">
                        <p-column field="item" header="Item"></p-column>
                        <p-column field="">
                                <ng-template let-rowdata="rowData" pTemplate="body">
                                        <button pButton type="button" icon="fa fa-trash" class="ui-button-danger"></button>
                                </ng-template>
                        </p-column>
                    </p-dataTable>
                </div>
            </div>
          <p-footer>
                <button pButton type="button" icon="fa fa-save" label="Save" class="ui-button-success" style="margin-right: .25em"></button>
                <button pButton type="button" icon="fa fa-undo" label="Cancel" class="ui-button-secondary"></button>
            </p-footer>
        </p-panel>
    </p-accordionTab>
    <p-accordionTab header="Lunch">
        Content 2
    </p-accordionTab>
    <p-accordionTab header="Dinner">
        Content 3    
    </p-accordionTab>
</p-accordion>
</body>
